.button
  display inline-flex
  padding 5px 10px
  background-color #ffffff
  font 12px/12px 'Roboto', sans-serif
  color #00bd97
  cursor pointer

  &-inactive
    composes: button
    background-color  #8adfce
