.telephone
  display flex
  align-items center
  width 300px

  &__divider
    font 15px/15px 'Roboto', sans-serif
    color #ffffff
    margin 0 5px

  &__code
    margin-left 5px
    font 30px/30px 'Roboto', sans-serif;
    color #ffffff

  &__input
    width 52px
    flex-grow 0
    flex-shrink 0

  &__input-short
    width 35px
    flex-grow 0
    flex-shrink 0